
.container{
  display: flex;
  flex-direction: column;
}
.result-container{
  width:500px;
  margin:auto;
  border: 1px solid black;
  padding:5px;
  text-align:left;
  background-color: #dce1e3aa;
  color: rgb(41, 37, 37);
  overflow:hidden;
  display: flex;
  flex-direction: column;
}